{% extends "layout.html" %}   <!-- Django templating syntax, need to download Django if wanted to use extending template -->

{% block title %}
Contact
{% endblock %}

{% block body %}
      <div class="contact">
        <img src="static/Steven.jpg" alt="Steven Chen" width = "25%" class:"contact">
        <div id = "contacts">
          <h2>Phone Number: (917)856-3665</h2>
          <h2>Email: Schen0209@gmail.com</h2>
          <h2>GitHub: github.com/SC429</h2>
          <h2>LinkedIn: linkedin.com/in/steven-chen0209</h2>
        </div>
      </div>

      <div class = "comment">
        <h1> Want to connect or have any inquiries? Leave your name and email below and I will reach out as soon as possible. Thank you. </h1>
      </div>

        <form action="{{url_for('thankyou')}}" method="post">

          <div class = "form-group">
            <input class = "form-control" name="fname" placeholder="First Name">
            <input class="form-control" name="lname" placeholder="Last Name">
            <input class="form-control" name="email" placeholder="Email">
          </div>

          <select class="form-control" name="inquiries">
            <option value="1"> I would like to connect </option>
            <option value="2"> I have some questions I would like to ask you </option>
            <option value="3"> I was wondering if you would like to engage in a possible project coloboration </option>
            <option value="4"> Other </option>
          </select>

          <div class="form-group">
            <button class="btn btn-primary">Submit</button>
          </div>

        </form>
{% endblock %}
