{% extends "layout.html" %}  <!-- Django templating syntax, need to download Django if wanted to use extending template -->

{% block title %}
  Steven Chen
{% endblock %}

{% block body %}
  <h3 id ="intro"> Welcome to my website </h3>
  <img src= "static/Steven.jpg" width = "20%" alt="Steven Chen" class="Profile">
  <div id="Name"> Steven Chen </div>
  <div id ="introduction">
    <p>Hello. Thank you for visiting my site. I'm currently an undergraduate at Emory University, aiming to be a software engineer in the future. I would describe myself as someone who is analytical, highly motivated, and adaptive to new challenges. I'm fascinated by new technological advancements and always motivated to learn new programming techniques. I'm looking for a software engineer internship so if you want to talk about my project, feel free to contact me.</p>
  </div>
  <div id ="contact">
    <h2>GitHub: github.com/SC429</h2>
    <h2>LinkedIn: linkedin.com/in/steven-chen0209</h2>
  </div>
{% endblock %}
